.DS_Store
.idea
.nuxt
.temp
*.log
*.tgz
components.d.ts
dist
index.json
indexes.json
node_modules
cache
packages/*/LICENSE
packages/contributing.md
packages/public/badge-*
packages/**/*.js
packages/**/*.[cm]js
packages/**/*.d.ts
packages/**/*.d.[cm]ts
playgrounds/*/pnpm-lock.yaml
types
coverage
.eslintcache
.vitepress/cache

packages/**/__screenshots__
