/* https://github.com/antfu/prism-theme-vars */
@import 'prism-theme-vars/base.css';
@import 'prism-theme-vars/marker.css';

:root {
  --prism-font-family: 'Input Mono', monospace;
}

html:not(.dark) {
  --prism-foreground: #393a34;
  --prism-background: #f0f0f050;
  --prism-comment: #b8c4b8;
  --prism-string: #c67b5d;
  --prism-literal: #3a9c9b;
  --prism-keyword: #248459;
  --prism-function: #849145;
  --prism-deleted: #a14f55;
  --prism-class: #2b91af;
  --prism-builtin: #a52727;
  --prism-property: #ad502b;
  --prism-namespace: #c96880;
  --prism-punctuation: #8e8f8b;
  --prism-decorator: #bd8f8f;
  --prism-json-property: #698c96;
  --prism-inline-background: rgba(125,125,125,0.05);
  --prism-line-highlight-background: #f2f2f2;
}

html.dark {
  --prism-scheme: dark;
  --prism-foreground: #d4cfbf;
  --prism-background: #22222220;
  --prism-inline-background: rgba(125,125,125,0.1);
  --prism-comment: #758575;
  --prism-string: #ce9178;
  --prism-literal: #4fb09d;
  --prism-keyword: #4d9375;
  --prism-function: #c2c275;
  --prism-deleted: #a14f55;
  --prism-class: #5ebaa8;
  --prism-builtin: #cb7676;
  --prism-property: #dd8e6e;
  --prism-namespace: #c96880;
  --prism-punctuation: #d4d4d4;
  --prism-decorator: #bd8f8f;
  --prism-regex: #ab5e3f;
  --prism-json-property: #6b8b9e;
  --prism-line-number: #888888;
  --prism-line-number-gutter: #eeeeee;
  --prism-line-highlight-background: #202020;
  --prism-selection-background: #444444;
}

/* Overrides */

:not(pre) > code {
  background: var(--prism-inline-background);
  padding: 1px 6px;
  border-radius: 3px;
}

a > code {
  color: var(--c-brand-dark);
}

div[class*='language-'] {
  position: relative;
}

div[class*='language-'] pre {
  margin: 0;
  z-index: 1;
}


/* Line highlighting */

.highlight-lines {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding: var(--prism-block-padding-y) 0;
  width: 100%;
  line-height: var(--prism-line-height);
  font-family: var(--prism-font-family);
  font-size: var(--prism-font-size);
  user-select: none;
  overflow: hidden;
  z-index: -1;
}

.highlight-lines .highlighted {
  background-color: var(--prism-line-highlight-background);
}
