html.dark {
  color-scheme: dark;
}

/* Overrides */
:not(pre) > code {
  padding: 1px 6px;
  border-radius: 3px;
}

a > code {
  color: var(--vp-c-brand) !important;
}

.vt-doc [class*='language-'] pre {
  padding: 24px;
}

.shiki-light {
  background: #f9f9f9 !important;
}
.shiki-dark {
  background: #242424 !important;
}

html.dark .shiki-light {
  opacity: 0;
  z-index: -1;
}
html:not(.dark) .shiki-dark {
  opacity: 0;
  z-index: -1;
}

.shiki {
  transition: opacity 0.5s !important;
}

.shiki-light {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.vt-doc div[class*='language-'] {
  background: none !important;
}

/* Line highlighting */
/* 
.highlight-lines {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding: var(--prism-block-padding-y) 0;
  width: 100%;
  line-height: var(--prism-line-height);
  font-family: var(--prism-font-family);
  font-size: var(--prism-font-size);
  user-select: none;
  overflow: hidden;
  z-index: -1;
}

.highlight-lines .highlighted {
  background-color: var(--prism-line-highlight-background);
} */
