.demo {
  --width: 100vw;
  --margin-left: -1.5rem;

  font-size: 16px;
  background: var(--vt-c-bg-soft);
  padding: 1em 2em;
  position: relative;
  margin-bottom: 40px;
  border-radius: 4px;
  transition: background-color 0.5s;
}

.demo.wide {
  width: var(--width);
  margin-left: var(--margin-left);
}

.demo::after {
  content: "demo";
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 2;
  line-height: 24px;
  font-size: 12px;
  font-weight: 500;
  color: var(--vt-c-text-3);
  padding: 0 8px;
  transition: color 0.5s;
}

@media (min-width: 720px) {
  .demo {
    --width: calc(100vw - var(--sidebar-width) - var(--scrollbar-width)) !important;
    --content-width: min(48rem, var(--width)) !important;
    --margin-left: calc(
      calc(calc(var(--content-width) - var(--width)) / 2) - 1.5rem
    ) !important;
  }
}

.note {
  opacity: 0.7;
  font-size: 0.9rem;
  margin-bottom: -0.2rem;
}

.demo {
  p {
    margin: 0.5rem 0 ;
  }

  button {
    padding: 3px 15px;
    background-color: var(--vt-c-brand);
    border: none;
    outline: none;
    color: white;
    margin: 0.5rem 0;
    border-bottom: 2px solid var(--vt-c-brand-dark);
    text-shadow: 1px 1px 1px var(--vt-c-brand-dark);
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
    vertical-align: middle;
  }

  button.small {
    padding: 0.25em 0.7em 0.2em 0.7em;
  }

  button.orange {
    --vt-c-brand: #db8742;
    --vt-c-brand-dark: #ad6e39;
    --vt-c-brand-active: #d67e36;
  }

  button:hover {
    background-color: var(--vt-c-brand-active);
  }

  button:active {
    border-bottom: 0;
    border-top: 2px solid var(--vt-c-brand-dark);
  }
  button ~ button {
    margin-left: 0.5rem;
  }
  button[disabled],
  button.disabled {
    cursor: default;
    background-color: var(--vt-c-disabled-bg);
    color: var(--vt-c-disabled-fg);
    border-bottom: 2px solid var(--vt-divider-light-1);
    pointer-events: none;
    text-shadow: none;
    border-top: 0;
  }

  input[type='text'] {
    display: block;
    min-width: 20rem;
    font-size: 1.05rem;
    padding: 0.5em 1em 0.4em 1em;
    border: 1px solid var(--vt-c-divider);
    border-radius: 4px;
    margin: 1rem 0;
    outline: none;
    background: var(--vt-c-bg);
    color: var(--vt-c-text);
    transition: background-color 0.5s;
  }

  input:focus {
    border: 1px solid var(--vt-c-divider-dark-1);
  }

  pre,
  .code-block {
    opacity: 0.8;
    background: rgba(125,125,125,0.02);
    padding: 0.5rem;
    border-radius: 4px;
    font-size: 0.9em;
    overflow: auto;
  }

  .resizer {
    resize: both;
    padding: 1rem;
    width: 200px;
    height: 200px;
    border: 1px solid var(--vt-c-divider-light);
    border-radius: 4px;
    background: white;
    outline: none;
    white-space: pre;
    overflow-wrap: normal;
    overflow: hidden;
    overflow-x: hidden;
  }

  .float {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1rem 2rem;
    border: 1px solid var(--vt-c-divider-light);
    background: var(--vt-c-bg);
    z-index: 100;
    min-width: 100px;
  }

  .area {
    border-width: 2px;
    border-style: dashed;
    padding: 1rem;
  }
}


html.dark .demo {
  .resizer {
    background: #222;
    color: white;
  }
}
