html.dark {
  color-scheme: dark;
}

.VPNav,
.VPNav .content {
  background: transparent !important;
}

.vp-doc h2 {
  border-top: 0px;
  margin-top: 10px;
}

.VPMenuLink .link {
  line-height: 28px !important;
}

.VPSidebarGroup .link {
  padding: 3px 0 !important;
}
