:root {
  --vp-sidebar-width-mobile: 280px;
  --vp-sidebar-width-small: 220px;
  --vp-sidebar-width-medium: 220px;
  --vp-sidebar-width-large: 220px;

  --vt-c-brand-active: #44bd87;

  --vt-c-disabled-bg: #88888850;
  --vt-c-disabled-fg: inherit;
}

html.dark {
  color-scheme: dark;
}

.vt-doc h1 {
  margin: 0 0 1rem;
}

.vt-doc h2 {
  margin: 32px 0 8px 0;
  border-top: none;
  padding-top: 0;
  opacity: 0.8;
  font-size: 22px;
}

.vt-doc h2 + div[class*='language-'] {
  margin-top: 10px;
}

.vt-doc h3 + div[class*='language-'] {
  margin-top: 10px;
}

.aside {
  width: 220px !important;
}

.vt-doc .container,
.vt-doc .content {
  max-width: 900px !important;
}

.VPContentDoc .container {
  place-content: space-around !important;
}
